<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>임시 비밀번호 안내</title>
  </head>
  <body style="font-family: 'Apple SD Gothic Neo', sans-serif; width: 540px; height: 600px; border-top: 4px solid #4D6BB2; margin: 100px auto; padding: 15px 0; box-sizing: border-box;">
    <h1 style="margin: 20px 0; padding: 0 5px; font-size: 28px; font-weight: 400;">
      <img src="cid:logoImage" style="height: 100px; width: 350px; margin-bottom: 20px;" alt="CubingClubKorea"><br />
      <span style="color: #4D6BB2;">임시 비밀번호 생성</span> 안내입니다.
    </h1>
    <div style="border-top: 1px solid #DDD;">
      <p style="font-size: 16px; line-height: 26px; padding: 0 5px;">
        안녕하세요.<br />
        큐빙클럽코리아에 돌아와 주셔서 진심으로 감사드립니다.<br />
        아래 <b style="color: #4D6BB2;">임시 비밀번호를 입력</b>하여 로그인 후, 비밀번호를 변경해주세요.<br />
      </p>
    </div>
    <div style="border-top: 1px solid #DDD;">
      <h1 style="padding: 0 10px;" th:text="${tempPassword}"></h1>
    </div>
    <div style="border-top: 1px solid #DDD;">
      <p style="font-size: 16px; line-height: 26px; padding: 0 5px;">
        감사합니다.
      </p>
    </div>
  </body>
</html>